@page "/libros"
@* @attribute [StreamRendering(true)] *@

@inject ILibrosService libroService
@inject NavigationManager navigationManager

@* TODO: hay un problema, tarda bastante la primera vez, habría que hacer algo con el rendermode o quizás con streaming
el modo no puede ser InteractiveWebAssembly ni InteractiveAuto, porque para webassembly parece que da un problema si no se
llama a una API para pedir los datos
*@
@rendermode InteractiveServer

<PageTitle>Libros Crud</PageTitle>

<h1>CRUD con Blazor Web App</h1>
<h3>Lista de libros</h3>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h2 class="text-dark">Lista de libros</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Autor</th>
                    <th>Páginas</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var libro in listaLibros)
                {
                    <tr>
                        <td>@libro.Id</td>
                        <td>@libro.Titulo</td>
                        <td>@libro.Descripcion</td>
                        <td>@libro.Autor</td>
                        <td>@libro.Paginas</td>
                        <td>@libro.Precio</td>
                        <td>@libro.Fecha</td>
                        <td>
                            <a href="editar-libro/@libro.Id" class="btn btn-success btn-sm">
                                <span class="oi oi-pencil" aria-hidden="true"></span> Editar
                            </a>
                            <button @onclick="@(()=>BorrarLibro(libro.Id))"
                                    class="btn btn-danger btn-sm">
                                <span class="oi oi-delete" aria-hidden="true"> Borrar</span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<LibroDto> listaLibros = new List<LibroDto>();

    protected override async Task OnInitializedAsync()
    {
        listaLibros = await libroService.GetLibrosAsync();
    }

    private async void BorrarLibro(int id)
    {
        await libroService.DeleteLibroAsync(id);
        listaLibros = await libroService.GetLibrosAsync();
        // por algún motivo la línea anterior no refresca la lista en la vista
        // lo siguiente no debería ser necesario
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }
}
